# Archivos de configuración de entorno
*.log
*.tmp
*.bak
*.env

# Archivos generados durante la compilación
/build/
*.elf
*.bin
*.hex
*.epp

# Archivos temporales de IDE
.vscode/
.idea/

# Firmware de simulacion
/.pio/

# Ignorar la configuración de secretos
secrets.h

# Archivos específicos de ESP32
*.bin
*.espressif
