#include <pgmspace.h>
#define SECRET
#define THINGNAME "iot"

// WiFi credentials
const char WIFI_SSID[] = "tu_ssid_aqui";
const char WIFI_PASSWORD[] = "tu_contraseña_aqui";

// AWS IoT Core credentials
const char AWS_IOT_ENDPOINT[] = "tu_endpoint_aqui";

// Amazon Root CA
static const char AWS_CERT_CA[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
tu_certificado_root_ca_aqui
-----END CERTIFICATE-----
)EOF";

// Certificate
static const char AWS_CERT_CRT[] PROGMEM = R"KEY(
-----BEGIN CERTIFICATE-----
tu_certificado_cliente_aqui
-----END CERTIFICATE-----
)KEY";

// Private Key
static const char AWS_CERT_PRIVATE[] PROGMEM = R"KEY(
-----BEGIN RSA PRIVATE KEY-----
tu_clave_privada_aqui
-----END RSA PRIVATE KEY-----
)KEY";